/*

Student Pictures

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d9f58d81a355bc5b861d9/1651351385413/fikri.jpeghttps://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d9f5e7b27ec05bcf072a9/1651351390396/vincent.jpeghttps://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d9f62591ebf709dbca4ae/1651351397108/xiaohui.png

Office Pictures

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d7d2a8d02785e0cf806b5/1651342667193/about-us-2.jpeg

Founder Pictures

Kai Song 1
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d4c4aa6ff595d5a6809da/1651330183317/kaisong-1.jpeg

Kai Song 2
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d4ca7ec983e685c1e08e4/1651330216144/kaisong-2.jpeg

Vicky 1
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d4c2cdf6cb02eb0b1d3e9/1651330122195/vicky-1.jpeg

Vicky 2
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d4cac15fb31652449cea3/1651330252016/vicky-2.jpeg

New Tutor Pictures

Ms Siew Ting (O)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d35671b6c545dfb057896/1651324265200/Ms+Siew+Ting.png

Ms Rheena (B)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d3540f782c917f4b925a0/1651324228621/Ms+Rheena.png

Ms Tina (O)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d35d3a6dae5568cb8e655/1651324374357/Ms+Tina.png

Ms Eleena (B)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d35c4534e5c386de187fb/1651324358969/Ms+Eleena.png

Ms Iliani (O)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d35391e7c6f59b9eba75c/1651324219931/Ms+Iliani.png

Ms Norlin (B)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d35bc23d5e80ec11bb577/1651324350888/Ms+Norlin.png

Mr Joshua (O)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d0d99d9e96013fde8f3ba/1651314075359/Mr+Joshua.png

Ms Aishah (B)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d35ace835b02a5f0250cd/1651324334203/Ms+Aishah.png

Ms Amanda (O)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626cfdbe70c93524a11ed5f9/1651310017255/Ms+Amanda.png

Ms Ainin (B)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d35a49e62995f934f51d1/1651324326780/Ms+Ainin.png

Mr Jarod (O)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626cfdb97f4fd12766cb30d7/1651310013524/Mr+Jarod.png

Ms Vicky (B)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d3552f18809067eb5d21e/1651324245311/Ms+Vicky.png

Mr Azfar (O)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626cdc05fd4cc6667e8f2b90/1651301384090/Mr+Azfar.png

Ms Emily (B)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d0d9e4a79d3621f3594b1/1651314082037/Ms+Emily.png

Dr Tiong (O)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626cdc038d02785e0cec05a4/1651301381116/Dr+Tiong.png

Dr Sharmini (O)
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626cdbfe34b74940f27e1e43/1651301377141/Dr+Sharmini.png


Stock Images

Online Learning 1
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626c20b7cdc9c255bd6d63e6/1651253508408/online-learning-1.jpg

New News Logos

The Star
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae0b57094e52115b45f9/1650896396044/thestar.png

Technode
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae7b45ee9d0755454016/1650896507166/technode.png

Techinasia
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae7dbe929828d2018757/1650896509161/techinasia.png

SME
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae7ebbfd7749a8d80cc0/1650896510750/sme.png

SinChew
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae800ea7ec40f70c792d/1650896512954/sinchew.png

OrientalDaily
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae8208f28b23a5b77dde/1650896514794/orientaldailynews.png

MalaysianBusiness
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae846d39b1158e906e96/1650896517086/malaysianbusiness.png

E27
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae86a7957a1ce4c171c5/1650896518683/e27.png

DagangNews
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae88bbfd7749a8d80cde/1650896520736/dagangnews.png

BusinessToday
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6266ae8ad240466a7d793fca/1650896522597/businesstodaylowres.png

----------

Personalisation USP Icons

Powerful
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/625fd2301892c05f44aa0280/1650446896635/analytics.png

Reliable
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/625fd1d146e57130b9592f33/1650446801119/trophy.png

Possible
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/625fd1bae96f962589f541da/1650446778082/interview.png

Video Call
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/625fd4b3cf060f609121ece3/1650447539876/videoconference.png

Accept
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d002bbd58b47f13aced50/1651310635676/accept.png

Best Seller
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d002d59d57a54a1f8deae/1651310637362/best-seller.png

Feedback
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d0030a38c45402a337cf7/1651310640053/feedback.png

Happy Face
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d0032d9e96013fde838ca/1651310642218/happy-face.png

Performance
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d003444e6b7512e6b8071/1651310644977/performance.png

Runner
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d0037c5414a740a33f6d9/1651310647076/runner.png

Shield
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d0039359672240ef9e301/1651310649117/shield.png

Star
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d003a8d02785e0cedca6e/1651310650907/star.png

Think out of the Box
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d003cd81a355bc5aa836a/1651310652638/think-out-of-the-box.png

Phone Call
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d0306c03a917369c043de/1651311366589/phone.png

Q&A
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d030ea9166126760c8248/1651311374611/interview-qna.png

Online Learning
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d03136d973e7e3540d7ef/1651311379507/online-learning.png

File
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626d031cfba7247c1799aec9/1651311388745/personal-information.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626da5d834491911a2f14450/1651353048544/diversity.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626da647a8d34f4b9a93d033/1651353159101/graduation.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626da6f2c5414a740a432993/1651353330704/book.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/626da6f6591ebf709dbd4b98/1651353334090/target.png

---

CTA Icons

Sign Up
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/625fe89814831b06d9d3b222/1650452632114/personal.png

Free Consultation
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/625fe89e201c011151cf95a3/1650452638269/interview+%281%29.png

Onboarding
https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/625fe8a08e98243575bb10e7/1650452640638/checked.png

---

Tutor Logos

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6228818d1bbc7f2c4d1e4ef9/1646821826749/Ms+Tina.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6228817f86f04a3da42b90b2/1646821760124/Ainin.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/622881833c5f486230809bfb/1646821763302/Ms+Aishah.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/62288188aa80bc0882fcbfc8/1646821768584/Ms+Eleena.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6228818a1f2e17460633d464/1646821771348/Norlin.jpeg



https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd81192197d57dbe70aed4/1644003609492/Rheena+Lee.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fa62639a453c7ef37f2d41/1643799143977/Amanda.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd8173dcb9da02c9f49d6d/1644003699736/Joshua.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd81a35ba5030b880ca908/1644003748184/Azfar.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fa62d6658c2804f5682dd3/1643799255550/Iliani.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd81b8ebaf4c030fa8c174/1644003768344/Siew+Ting.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd81c7a7e88c0f18c0e732/1644003784326/Sharmini.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd81d6537a5e4021d0a403/1644003800313/Rachel.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd7f2bc5b5a670962d6398/1644003115903/Dr+Derk+Tiong+Ngee.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd81e60d783c0bceaef904/1644003814861/Vicky+Tan.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd81f4550a3b45aa0edfe2/1644003828201/Emily+Neoh.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61ffe07b0aad28471509cabc/1644159100382/Jarod.jpg

---

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd83513b1ec876bf2028e5/1644004178103/Eer+Kai+Song.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd83566bf8b11e9462adc8/1644004182503/Shawn+Goh.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd835b7dcc1714ecf8fb95/1644004187074/Esther+Chua.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd835dd264031009920209/1644004190038/Ter+Shin+Yen.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd836002ecfc4234c6b2db/1644004192816/Loo+Qing+Ning.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd836683e1dc0852fbe9e0/1644004198752/Liew+Zi+Qing.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd836bb983660ca911ec96/1644004203076/Teh+Khoon+Kheng.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61f6e01e6dc5373f71ad2ca7/1643569182683/Toi+Ngee+Tan.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61f6e206f0e77848cc852326/1643569673666/Ziv.jpg

*/

/* Other Resources

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61fd82af7a13cb0a5650104b/1644004023053/Happy+girl+website+1.JPG

*/

/* Media Logos

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/6203ec3647c556785c7135cd/1644424246123/The+Star.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61f44450b6d51a228cdd59fd/1643398224390/businesstoday.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61f44456a9cdd040200eb677/1643398230460/dagangnews.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61f4445a1f1cf5346afb3968/1643398234689/e27.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61f4445e0eaeae65a5701eb2/1643398239019/orientaldailynews.jpg

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61f44462c88f86207f663098/1643398242538/sme.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61f44465eaf48743df8dcb59/1643398245749/techinasia.png

https://static1.squarespace.com/static/61a4ac42699860277d4bfcf6/t/61f3d535cd62dd59dd633b02/1643369781830/Sinchew.png

*/

/* Prevent Horizontal Scroll */
/* html, body {
  max-width: 100%;
  overflow-x: hidden;
} */

/* Colors */

:root {
  --gurulab-orange: #F48847;
  --gurulab-sat-orange: #F55555;
  --gurulab-grey: #828282;
  --gurulab-body: #000000;
  --gurulab-light-orange: #FFF7F0;
  --gurulab-light-teal: #47ADB2;
  --gurulab-light-background: #FFFFFF;
  --gurulab-teal: #1B7F85;
  --gurulab-light-grey: #F1F1F1;
  --google-green: #34A853;
  --google-red: #EA4335;
  --gurulab-light-light-teal: #DBEFF0;
}

html {
  scroll-behavior: smooth;
}

/* Accordion */
.sqs-block-accordion .accordion-item span.accordion-item__title {
  color: var(--gurulab-orange);
}

.sqs-block-accordion .accordion-divider {
  color: var(--gurulab-orange);
}

.sqs-block-accordion .arrow,
.sqs-block-accordion .plus {
  color: var(--gurulab-orange);
}

/* Nav Menu */
a.btn-underline {
    padding: 20px 40px;
    font-weight: 500;
    color: white;
    color: var(--gurulab-orange);
    display: block;
    position: relative;
    z-index: 1;
    transition: color 300ms ease-in-out;
}
  a.btn-underline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--gurulab-orange);
    transition: transform 550ms;
    transition-timing-function: cubic-bezier(.3,.3,0,.95);
    transform: scaleX(0);
    transform-origin: left;
}
  
a.btn-underline:hover::before,
a.btn-underline:active::before,
a.btn-underline.active::before {
    transform: scaleY(1);
}
  
a.btn-underline:hover,
a.btn-underline:active,
a.btn-underline.active {
    color: var(--gurulab-light-background);
}

/*Nav Menu for Languages, only shows in the homepages*/

.header-nav-list {
  align-items: center;
}

.header-nav-list .header-nav-divider {
  margin-left: 10px;
  background: var(--gurulab-teal);
  width: 1px;
  height: 30px;
}
div.header-nav-lang-menu {
  padding-right:10px;
}
a.header-nav-lang-btn {
  color: #F48847!important;
  text-decoration:none;
}
div.header-burger{
  white-space: nowrap !important;
  align-items: center !important;
}

a.header-nav-lang-btn-cn {
  font-size:0.95em
}

@media only screen and (min-width: 1025px) {
  #header {
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(25px);
  }
}

/*Hides Language Nav in Mobile Nav Menu*/
.header-menu-nav-item a[href|="/home"] {
  display: none !important;
}	

/* Hero Flex */
.hero-flex-container {
  position: relative;
  animation: animateImgInTranslate 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.95,.05,.05,.95);
}

.hero-flex img {
  object-fit: cover;
}

.hero-flex::before {
  content: "";
  position: absolute;
  background: var(--gurulab-light-background);
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  animation: animateImgIn 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.95,.05,.05,.95);
}

@keyframes animateImgInTranslate {
  0% {
    opacity: 50%;
    transform: translateY(35%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes animateImgIn {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:30px;
    box-shadow: 2px 2px 3px #999;
  z-index:1;
}

.my-float{
    margin-top:13px;
}

.fa{
  display:inline-block;font:normal normal normal 14px;
  font-size:inherit;text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale}

.fa-whatsapp:before{ content:url("https://images.squarespace-cdn.com/content/v1/61a4ac42699860277d4bfcf6/d10dcdec-704e-478f-a2cf-198b61d0d466/whatsapp.png");
}

/* OpenApp and SignUp Buttons */
.header-actions-action--cta a:last-child, .header-menu-cta a:last-child {
  background: var(--gurulab-orange) !important;
  color: var(--gurulab-light-background) !important;
}

.header-actions-action--cta a:last-child:hover, .header-menu-cta a:last-child:hover {
  color: var(--gurulab-orange) !important;
}

.header-actions-action--cta a:last-child::before {
  background: white !important;
  border: 2px var(--gurulab-orange) solid !important;
}

.header-menu-cta a:last-child::before {
  background: white !important;
  border: 0px var(--gurulab-orange) solid !important;
}

/* Gurulab Sign Up Style */

/* Orange Gradient Background */
/* #collection-61f2282ada1e7410b2f14171 #sections .section-background {
  
  background: radial-gradient(circle, rgba(255,153,29,1) 0%, rgba(255,111,0,1) 100%);
} */

/* White Background */
#page-section-61f2282ada1e7410b2f14173, #page-section-6221e3f6d8a1333ebea6df98, #page-section-6221f898b6bcec08e85e8df6, #page-section-6221fbf9a80b6e4d05be0104, #page-section-623b2dce93a6ff4523f31f04 {
  background: rgba(241, 241, 241, .85);
  backdrop-filter: blur(50px);
  padding: 80px;
  border-radius: 40px;
  box-shadow: 0 0 30px rgba(0,0,0,.05);
}

@media only screen and (max-width: 800px) {
  #page-section-61f2282ada1e7410b2f14173, #page-section-6221e3f6d8a1333ebea6df98, #page-section-6221f898b6bcec08e85e8df6, #page-section-6221fbf9a80b6e4d05be0104, #page-section-623b2dce93a6ff4523f31f04 {
    padding: 20px 40px;
  }
}

/* Rounded Fields */
#block-c96f30cf0e2788c5e180 .field-element, #block-faee0f00a67e58563288 .field-element {
  border-radius: 25px;
  padding: 15px 25px;
}

/* Drop Down Styling */
#select-9c335729-dc44-4971-a1ac-8e136fc0ecca-field, #page-section-623b2dce93a6ff4523f31f04 select {
  border-radius: 25px;
  padding: 15px 25px;
}

#select-9c335729-dc44-4971-a1ac-8e136fc0ecca-field, #page-section-623b2dce93a6ff4523f31f04 select {
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  /* appearance: none; */
  width: max-content;
}

/* #select-9c335729-dc44-4971-a1ac-8e136fc0ecca-field option {
  
} */

/* Button styling */
#page-section-61f2282ada1e7410b2f14173 input.button, #page-section-6221e3f6d8a1333ebea6df98 a[href='/home'], #page-section-623b2dce93a6ff4523f31f04 input.button {
  background: rgba(255, 255, 255, 0.65);
  font-weight: 500;
}

#page-section-61f2282ada1e7410b2f14173 input.button:hover, #page-section-623b2dce93a6ff4523f31f04 input.button:hover {
  background: var(--gurulab-orange);
}

/* Thank you / cancellation Button Styling */
#yui_3_17_2_1_1646394298407_327 a, #yui_3_17_2_1_1646394767837_327 a {
  background: rgba(255, 255, 255, 0.75) !important;
}

/* Home Page 2 */

/* Remove "As Featured On" on mobile screens */

@media only screen and (max-width: 1024px) {
  .page-section[data-section-id="6261a528b7a7b114f60301c0"] {
    display: none !important;
  }
}

/* Personalisation 625c20f888ac262692a4b5d5 */

.page-section[data-section-id="625c20f888ac262692a4b5d5"] .section-background {
  background: linear-gradient( 135deg, #ffa339 10%, #F55555 100%);
}

/* Testimonials 625fd881c273291cbf0ab791 */

.page-section[data-section-id="625fd881c273291cbf0ab791"] .section-background {
  background: linear-gradient( 45deg, #47ADB2 10%, #1B7F85 100%);
}

/* Tutors 625fe39c887f814c655ccc13 */

.page-section[data-section-id="625fe39c887f814c655ccc13"] .section-background {
  background: linear-gradient( 135deg, #47ADB2 10%, #1B7F85 100%);
}

/* Next Steps 625fe45f6d00904c0e126282 */

.page-section[data-section-id="625fe45f6d00904c0e126282"] .section-background {
  background: linear-gradient( 135deg, #F55555 10%, #F48847 100%);
}

/* About Us 2 */

/* Founders: Data Section ID 6266579108f28b23a5ae6240 */

.page-section[data-section-id="6266579108f28b23a5ae6240"] .section-background {
  background: linear-gradient( 135deg, #47ADB2 10%, #1B7F85 100%);
}

/* Box 1: Data Section ID 62659ab51e34f11bd9f3aa82 */

.page-section[data-section-id="62659ab51e34f11bd9f3aa82"] .section-background {
  /* background: linear-gradient( 135deg, #F97794 10%, #623AA2 100%); */
  background: linear-gradient( 135deg, #ffa339 10%, #F55555 100%);
}

/* Box 2: Data Section ID 6267b0e2d64b4f0015a51ea1 */

.page-section[data-section-id="6267b0e2d64b4f0015a51ea1"] .section-background {
  background: linear-gradient( 135deg, #47ADB2 10%, #1B7F85 100%);
}

/* Box 3: Data Section ID 6267cb85a613f54842b6a4aa */

.page-section[data-section-id="6267cb85a613f54842b6a4aa"] .section-background {
  background: linear-gradient( 135deg, #ffa339 10%, #F55555 100%);
}

/* Our Methodology */

/* Our Framework: Data Section ID 6266dc624759a0440b0fa84d */

.page-section[data-section-id="6266dc624759a0440b0fa84d"] .section-background {
  background: linear-gradient( 135deg, #ffa339 10%, #F55555 100%);
}

/* Our Technology: Data Section ID 6266ddba3756ff631212778e */

.page-section[data-section-id="6266ddba3756ff631212778e"] .section-background {
  background: linear-gradient( 135deg, #47ADB2 10%, #1B7F85 100%);
}

/* Our Tutors */

/* Vetted Rigorously: Data Section ID 6266dea11c8d451221d12f96 */

.page-section[data-section-id="6266dea11c8d451221d12f96"] .section-background {
  background: linear-gradient( 135deg, #ffa339 10%, #F55555 100%);
}

/* Awesome Tutors: 6266dea11c8d451221d12f9a */

.page-section[data-section-id="6266dea11c8d451221d12f9a"] .section-background {
  background: linear-gradient( 135deg, #47ADB2 10%, #1B7F85 100%);
}

/* Why GuruLab */

/* Our Solution: 626b2c445722f310572726bd */
.page-section[data-section-id="626b2c445722f310572726bd"] .section-background {
  background: linear-gradient( 135deg, #ffa339 10%, #F55555 100%);
}

/* Table: 626b2c7644e5d43d3c9601f4 */

.page-section[data-section-id="626b2c7644e5d43d3c9601f4"] .section-background {
  background: linear-gradient( 135deg, #47ADB2 10%, #1B7F85 100%);
}

/* Contact Us 626d5563478bb20ff1112633 */

.page-section[data-section-id="626d5563478bb20ff1112633"] .section-background {
  background: linear-gradient( 135deg, #ffa339 10%, #F55555 100%);
}

/* FAQ 626d9dbe9ce2eb2327d3a521 */

.page-section[data-section-id="626d9dbe9ce2eb2327d3a521"] .section-background {
  background: linear-gradient( 135deg, #ffa339 10%, #F55555 100%);
}

/* Gurulab Components */

.gurulab-component-container *.justify-center {
  margin-left: auto;
  margin-right: auto;
}

.gurulab-component-container *.justify-left {
  margin-left: 0;
  margin-right: auto;
}

.gurulab-component-container *.justify-right {
  margin-left: auto;
  margin-right: 0;
}

.gurulab-component-container.margin-top-1rem {
  margin-top: 1rem;
}

.gurulab-component-container.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.gurulab-component-container .gurulab-button,
.gurulab-component-container .gurulab-button.bg-dark {
  padding: 15px 25px;
  background: white;
  border: none;
  border-radius: 50px;
  color: black;
  width: max-content;
  display: block;
  font-weight: 600;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: auto;
  text-transform: uppercase;
  text-align: center;
  width: auto;
}

.gurulab-component-container .gurulab-button.size-large {
  padding: 25px 35px;
  height: auto;
  width: auto;
}

.gurulab-component-container .gurulab-button.size-verylarge {
  padding: 25px 35px;
  width: 200px;
}

.gurulab-component-container .gurulab-button.bg-light.color-orange {
  background: linear-gradient( 135deg, #ffa339 10%, #F55555 100%);
  color: white;
}

.gurulab-component-container .gurulab-button.bg-light.color-teal {
  background: linear-gradient( 135deg, #47ADB2 10%, #1B7F85 100%);
  color: white;
}

.gurulab-component-container .gurulab-button.bg-dark.color-orange {
  color: var(--gurulab-sat-orange);
}

.gurulab-component-container .gurulab-button.bg-dark.color-teal {
  color: var(--gurulab-teal);
}

.gurulab-component-container .gurulab-button:hover {
  transform: translate(2px, 2px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}