<div class="gurulab-component-container">
  <a class="gurulab-button bg-dark size-large color-orange justify-center">Sign Up Now</a>
</div>

<div class="gurulab-component-container margin-top-1rem margin-bottom-1rem">
  <button class="gurulab-button bg-light size-large color-orange">Sign Up Now</button>
</div>

<div class="gurulab-component-container">
  <a class="gurulab-button bg-dark size-large color-teal">Sign Up Now</a>
</div>

<div class="gurulab-component-container">
  <button class="gurulab-button bg-light size-large color-teal">Sign Up Now</button>
</div>